// you must include each plugins' css
// paths prefixed with ~ signify node_modules
import '~@fullcalendar/core/main.css';
import '~@fullcalendar/daygrid/main.css';
import '~@fullcalendar/timegrid/main.css';
import '!style-loader!css-loader!react-big-calendar/lib/css/react-big-calendar.css'


.new-cal {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.new-cal-top {
  margin: 0 0 3em;
}

.new-cal-calendar {
  margin: 0 auto;
  max-width: 900px;
}